<div class="headline text-center">
    <h1 class="display-4 my-4">COVID-19 </h1>
    <p class="lead"></p>

    <div class="row">
        
        <div class="col-sm">
            <div class="confirmed">
                Confirmed:
            </div>
            <div class="value">
               {{totalConfirmed}}
            </div>
        </div>
        <div class="col-sm">
            <div class="deaths">
                Deaths:
            </div>
            <div class="value deaths-value">
               {{totalDeaths}}
            </div>
        </div>
        <div class="col-sm">
            <div class="recovered">
                Recovered:
            </div>
            <div class="value recovered-value">
               {{totalRecovered}}
            </div>
        </div> 
    </div>
    <div class="row fluid">
        <div class="col-sm">
        <img src="../../../assets/img/24393.jpg" alt="" class="cv-img">
    </div>
    </div>
</div>